<template name="Campus_Center_Nav">
  <div class="ui simple dropdown item">
    <div class="text">Campus Center</div>
    <i class="dropdown icon"></i>
    <div class="menu">
      <a class="item" href="{{ pathFor 'Jamba_Juice_Page' }}"><h2>Jamba Juice</h2></a>
      <a class="item" href="{{ pathFor 'Pizza_Hut_Page' }}"><h2>Pizza Hut</h2></a>
      <a class="item" href="{{ pathFor 'Food_Court_Page' }}"><h2>Food Court</h2></a>
      <a class="item" href="{{ pathFor 'Simply_Page' }}"><h2>Simply To Go</h2></a>
    </div>
  </div>

</template>