<template name="Footer">

  <footer>





    <div style="position:relative; top: 400px; bottom:0px" class="ui fluid center aligned">
    

        <div class="footer-background">
          <div class="ui three column grid container">
            <div class="column">
              NAVIGATION
              <hr/>
              <div class="ui list">
                <div class="item"><a class="{{ isActiveRoute 'about_us'}} item" href="{{ pathFor 'about_us' }}">About Us</a></div>
                <div class="item">U.H Manoa Spring 2017</div>
                <div class="item">Made by Team Avalunch</div>
              </div>
            </div>
            <div class="column">
              Social
              <hr/>
              <div class="ui list">
                <div class="item"><i class="facebook f icon"> </i></div>
                <div class="item"><i class="twitter icon"> </i></div>
                <div class="item"><i class="pinterest f icon"> </i></div>
                <div class="item"><i class="home icon"> </i></div>
                
              </div>
            </div>
            <div class="column">
              MAPS
              <hr/>
              <div class="ui list">
                <div id="upper" class="item"><a href="http://manoa.hawaii.edu/food/resources/images/maps/locationsUpperCampusMap.png" data-rel="popup" class="ui-btn ui-btn-inline ui-corner-all">Upper Campus</a>
                <div data-role="popup" id="myPopup">
 
</div></div>
                <div id="lower" class="item"><a href="http://manoa.hawaii.edu/food/resources/images/maps/locationsLowerCampusMap.png" data-rel="popup" class="ui-btn ui-btn-inline ui-corner-all">Lower Campus</a>
                <div data-role="popup" id="myPopup">
  
</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
   
  </footer>


</template>