<template name="Footer">
  <footer>


    <div style="position:relative; padding-top: 30px" class="ui center aligned">

        <div class="footer-background">
          <div class="ui four column grid container">
            <div class="column">
              NAVIGATION
              <hr/>
              <div class="ui list">
                <div class="item"><a class="{{ isActiveRoute 'about_us'}} item" href="{{ pathFor 'about_us' }}">About Us</a></div>
                <div class="item">Store Locations</div>
                <div class="item">Shipping & Returns</div>
                <div class="item">Terms & Conditions</div>
                <div class="item">Private Policy</div>
              </div>
            </div>
            <div class="column">
              FOOD FOR THOUGHT
              <hr/>
              <div class="ui list">
                <div class="item">---</div>
                <div class="item">---</div>
                <div class="item">----</div>
                <div class="item">----</div>
                <div class="item">----</div>
              </div>
            </div>
            <div class="column">
              MAPS
              <hr/>
              <div class="ui list">
                <div class="item">---</div>
                <div class="item">---</div>
                <div class="item">----</div>
                <div class="item">----</div>
                <div class="item">----</div>
              </div>
            </div>
            <div class="column">
              SPECIALS
              <hr/>
              <div class="ui list">
                <div class="item">Search</div>
                <div class="ui labeled input">
                  <input placeholder="Restaurant Name" type="text">
                  <div class="ui black inverted label">
                    <div class="text">Look up</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>

</template>