<template name="Header">
<!--<style>
body {
  font: normal 14px/20px 'Open Sans', sans-serif;
  background: -webkit-radial-gradient(center, ellipse cover, #ffffff 0%,#DDF0E4   100%);
  color: #333;
}
</style> -->

  <!-- Put header include statements below, inside this code block -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css">
  <link href="https://fonts.googleapis.com/css?family=Rubik+Mono+One" rel="stylesheet">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script type="text/javascript"
          src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- End header include statements with this line -->


  <!-- App Branding on Every Page -->
  <div class="header">

    <div class="ui row" style="" id="brand-name">
      <img class="ui tiny floated image" src="/images/logo.gif">
      <h1>AvaLunch at UH Manoa</h1>
    </div>

<!--

<div class="ui container">
   <nav style="z-index: 3; font-size:18px; font-family:   sans-serif;left 400px">
      <ul style=" background: white; border: none; box-shadow: -5px -5px 5px #888 ">
        <li>
          <a class="item" href="{{pathFor 'Home_Page'}}">Home</a>
        </li>
        <li>
          <a class="{{ isActiveRoute 'Upper_campus'}} item" href="{{ pathFor 'Upper_campus' }}">Upper Campus</a>
          <ul class="mega-dropdown">
            <li class="row">
              <ul class="mega-col">
                <li><a class="{{ isActiveRoute 'Bean_Counter_Page'}}" href="{{ pathFor 'Bean_Counter_Page' }}">The Bean Counter</a></li>
                <li><a class="{{ isActiveRoute 'Da_Spot_Page'}}" href="{{ pathFor 'Da_Spot_Page' }}">Da Spot</a></li>
                <li><a class="{{ isActiveRoute 'Ba_Le_Page'}}" href="{{ pathFor 'Ba_Le_Page' }}">Ba Le</a></li>
                <li><a class="{{ isActiveRoute 'Simply_Page'}}" href="{{ pathFor 'Simply_Page' }}">Simply To Go</a></li>
              </ul>
              <ul class="mega-col">
                <li><a class="{{ isActiveRoute 'jamba_juice'}} item" href="{{ pathFor 'jamba_juice' }}">Jamba Juice</a></li>
                <li><a class="{{ isActiveRoute 'Pizza_Hut_Page'}}" href="{{ pathFor 'Pizza_Hut_Page' }}">Pizza Hut</a></li>
                <li><a class="{{ isActiveRoute 'Food_Court_Page'}}" href="{{ pathFor 'Food_Court_Page' }}">Center Campus Food Court</a></li>
                <li><a class="{{ isActiveRoute 'Serg_Mexican_Page'}}" href="{{ pathFor 'Serg_Mexican_Page' }}">Serg's Mexican Kitchen</a></li>
                <li><a class="{{ isActiveRoute 'Green_Garden_Page'}}" href="{{ pathFor 'Green_Garden_Page' }}">Green Garden</a></li>

              </ul>
              <ul class="mega-col">
                <li><a class="{{ isActiveRoute 'Uahi_Island_Page'}}" href="{{ pathFor 'Uahi_Island_Page' }}">Uahi Island Grill</a></li>
                <li><a class="{{ isActiveRoute 'Kamitoku_Ramen_Page'}}" href="{{ pathFor 'Kamitoku_Ramen_Page' }}">Kamitoku Ramen</a></li>
              </ul>
              <ul class="mega-col">
                <img src ="http://www.hawaii.edu/campuscenter/services/images/CCCourtyard.jpg" width="200px" height="200px">
              </ul>

            </li>
          </ul>
        </li>
        <li>
          <a href="">Paradise Palms</a>
          <ul class="mega-dropdown">
            <li class="row">
              <ul class="mega-col">
                    <li><a class="{{ isActiveRoute 'Domino_Page'}}" href="{{ pathFor 'Domino_Page' }}">Domino's Express</a></li>
                    <li><a class="{{ isActiveRoute 'Honolulu_Gourmet_Page'}}" href="{{ pathFor 'Honolulu_Gourmet_Page' }}">Honolulu Gourmet</a></li>
                    <li><a class="{{ isActiveRoute 'India_Cafe_Page'}}" href="{{ pathFor 'India_Cafe_Page' }}">Indiana Cafe</a></li>
                    <li><a class="{{ isActiveRoute 'L_And_L_Page'}}" href="{{ pathFor 'L_And_L_Page' }}">L&L Hawaiian BBQ</a></li>
                    <li><a class="{{ isActiveRoute 'Panda_Express_Page'}}" href="{{ pathFor 'Panda_Express_Page' }}">Panda Express</a></li>
                    <li><a class="{{ isActiveRoute 'Super_Gyros_Page'}}" href="{{ pathFor 'Super_Gyros_Page' }}">Super Gyros</a></li>
                    <li><a class="{{ isActiveRoute 'Curb_Page'}}" href="{{ pathFor 'Curb_Page' }}">The Curb</a></li>
              </ul>
              <ul class="mega-col">
                <img src ="http://manoa.hawaii.edu/food/paradisePalms_files/stacks_image_27.png" width="200px" height="200px">
              </ul>

            </li>
          </ul>
        </li>
        <li>
          <a href="">Lower Campus</a>
          <ul class="mega-dropdown">
            <li class="row">
              <ul class="mega-col">
                <li><a class="{{ isActiveRoute 'Le_Crepe_Page'}}" href="{{ pathFor 'Le_Crepe_Page' }}">Le Crepe Cafe</a></li>
                <li><a class="{{ isActiveRoute 'L_And_L_Page'}}" href="{{ pathFor 'L_And_L_Page' }}">L&L Hawaiian BBQ</a></li>
                <li><a class="{{ isActiveRoute 'GateWay_Page'}}" href="{{ pathFor 'GateWay_Page' }}">GateWay Cafe</a></li>
                <li><a class="{{ isActiveRoute 'Hale_Aloha_Page'}}" href="{{ pathFor 'Hale_Aloha_Page' }}">Hale Aloha Cafe</a></li>
                <li><a class="{{ isActiveRoute 'Market_Page'}}" href="{{ pathFor 'Market_Page' }}">The Market</a></li>
              </ul>
              <ul class="mega-col">
                <img src ="http://the.honoluluadvertiser.com/dailypix/2008/Apr/14/hawaii804140348AR_b.jpg" width="200px" height="200px">
              </ul>

            </li>
          </ul>
        </li>
        <li>
          <a class="{{ isActiveRoute 'Search_Page'}} item" href="{{ pathFor 'Search_Page' }}">Directory</a>
        </li>
        <li>
          <a class="{{ isActiveRoute 'Your_profile'}} item" href="{{ pathFor 'Your_profile' }}">Your Profile</a>
        </li>
        <li>
          <a class="sign-in item">Sign In</a>
        </li>
      </ul>
    </nav>
  </div>
  -->

  <!-- End App Branding with this line -->

  <!-- Nav Menu -->

  <div class="ui borderless inverted menu" style="background-color: #00b5ad">

    <div class="ui container">
      <a class="item" href="{{pathFor 'Home_Page'}}"><h2>My Menu</h2></a>
      {{> Upper_Campus_Nav }}
      {{> Campus_Center_Nav }}
      {{> Paradise_Palms_Nav }}
      {{> Lower_Campus_Nav }}
      {{> Search_Nav }}
      {{#if currentUser}}
      {{> Profile_Nav }}
      {{/if}}
      {{> Cas_Login }}

    </div>
  </div>

  <!-- End Nav Menu with this line -->
  </div>


</template>