<template name="Header">

  <!-- Put header include statements below, inside this code block -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script type="text/javascript"
          src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- End header include statements with this line -->

  <!-- App Branding on Every Page -->
  <div style="background-color: #00b5ad">
   <div class="ui container">
      <img class="ui left floated tiny image" src="/images/avalunch-logo.svg"> <h1> AvaLunch @ University of Hawaii: Manoa</h1>
   </div>
  </div>
  <div style="border-radius:0px; margin:0px" class="ui inverted menu">
    <div class="ui container">
      <a class="item" href="{{pathFor 'Home_Page'}}"><h1>Food Service</h1></a>
      <a class="{{ isActiveRoute 'Restaurants_Page'}} item" href="{{ pathFor 'Restaurants_Page' }}">Restaurants</a>
      <a class="{{isActiveRoute 'About_Us_Page'}} item" href="{{pathFor 'About_Us_Page'}}">About Us</a>
      <a class="{{isActiveRoute 'Login_Page'}} item" href="{{pathFor 'Login_Page'}}">Login</a>

      <div class="ui wide right aligned item find-items">
        {{> Search_Page}}
        <button class="ui black icon button"><i class="big inverted search icon"></i></button>
      </div>
    </div>
  </div>
<!-- End App Branding with this line -->

</template>