<template name="Header">

  <!-- Put header include statements below, inside this code block -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script type="text/javascript"
          src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- End header include statements with this line -->

  <!-- App Branding on Every Page -->
  <div id="header">
    <div style="background-color: #1ebf8f">
      <div class="ui small centered images">
        <img class="ui image" src="/images/logo.gif">
        <img class="ui image" src="/images/at-sign.png">
        <img class="ui image" src="/images/uh-logo.png">
      </div>

    <div>
      <div class="ui button" onclick=".sidebar('toggle')"></div>
    <nav class="ui sidebar inverted vertical menu">
      <form class="search" action="search.php">
        <input name="q" placeholder="Search..." type="search">
      </form>
      <ul>
        <li>
          <a class="item" href="{{pathFor 'Home_Page'}}">Home</a>
        </li>
        <li>
          <a class="{{ isActiveRoute 'Upper_campus'}} item" href="{{ pathFor 'Upper_campus' }}">Upper Campus</a>
          <ul class="mega-dropdown">
            <li class="row">
              <ul class="mega-col">
                <li><a href=" ">The Bean Counter</a></li>
                <li><a href="#">Da Spot</a></li>
                <li><a href="#">Ba Le</a></li>
                <li><a href="#">Simply To Go</a></li>
              </ul>
              <ul class="mega-col">
                <li><a class="{{ isActiveRoute 'jamba_juice'}} item" href="{{ pathFor 'jamba_juice' }}">Jamba Juice</a></li>
                <li><a href="#">Pizza Hut</a></li>
                <li><a href="#">Center Campus Food Court</a></li>
                <li><a href="#">Serg's Mexican Kitchen</a></li>
                <li><a href="#">Green Garden</a></li>

              </ul>
              <ul class="mega-col">
                <li><a href="#">Uahi Island Grill</a></li>
                <li><a href="#">Kamitoku Ramen</a></li>
              </ul>
              <ul class="mega-col">
                <img src ="http://www.hawaii.edu/campuscenter/services/images/CCCourtyard.jpg" width="200px" height="200px">
              </ul>

            </li>
          </ul>
        </li>
        <li>
          <a href="">Paradise Palms</a>
          <ul class="mega-dropdown">
            <li class="row">
              <ul class="mega-col">
                    <li><a href="#">Domino's Express</a></li>
                    <li><a href="#">Honolulu Gourmet</a></li>
                    <li><a href="#">Indiana Cafe</a></li>
                    <li><a href="#">L&L Hawaiian BBQ</a></li>
                    <li><a href="#">Panda Express</a></li>
                    <li><a href="#">Super Gyros</a></li>
                    <li><a href="#">The Curb</a></li>
              </ul>
              <ul class="mega-col">
                <img src ="http://manoa.hawaii.edu/food/paradisePalms_files/stacks_image_27.png" width="200px" height="200px">
              </ul>

            </li>
          </ul>
        </li>
        <li>
          <a href="">Lower Campus</a>
          <ul class="mega-dropdown">
            <li class="row">
              <ul class="mega-col">
                <li><a href="#">Le Crepe Cafe</a></li>
                <li><a href="#">L&L Hawaiian BBQ</a></li>
                <li><a href="#">GateWay Cafe</a></li>
                <li><a href="#">Hale Aloha Cafe</a></li>
                <li><a href="#">The Market</a></li>
              </ul>
              <ul class="mega-col">
                <img src ="http://the.honoluluadvertiser.com/dailypix/2008/Apr/14/hawaii804140348AR_b.jpg" width="200px" height="200px">
              </ul>

            </li>
          </ul>
        </li>
        <li>
          <a class="{{ isActiveRoute 'Search_Page'}} item" href="{{ pathFor 'Search_Page' }}">Directory</a>
        </li>
        <li>
          <a class="{{ isActiveRoute 'Your_profile'}} item" href="{{ pathFor 'Your_profile' }}">Your Profile</a>
        </li>
        <li>
          <a class="{{ isActiveRoute 'Sign_up'}} item" href="{{ pathFor 'Sign_up' }}">Sign In</a>
        </li>
      </ul>
    </nav>
    </div>
    </div>
  </div>

  <a class="ui center aligned item" href="{{pathFor 'Home_Page'}}">

  </a>
  <!-- End App Branding with this line -->

</template>