<template name="Lower_Campus_Nav">
  <div class="ui simple dropdown item">
    <div class="text">Lower Campus</div>
    <i class="dropdown icon"></i>
    <div class="menu">
      <a class="item" href="{{ pathFor 'Hale_Aloha_Page' }}"><h2>Hale Aloha</h2></a>
      <a class="item" href="{{ pathFor 'Le_Crepe_Page' }}"><h2>Le Crepe Cafe</h2></a>
      <a class="item" href="{{ pathFor 'L_And_L_Page' }}"><h2>L&L Hawaiian BBQ</h2></a>
      <a class="item" href="{{ pathFor 'GateWay_Page' }}"><h2>GateWay Cafe</h2></a>
      <a class="item" href="{{ pathFor 'Market_Page' }}"><h2>The Market</h2></a>
    </div>
  </div>

</template>