<template name="Paradise_Palms_Nav">
  <div class="ui simple dropdown item">
    <div class="text">Paradise Palms</div>
    <i class="dropdown icon"></i>
    <div class="menu">
      <a class="item" href="{{ pathFor 'Domino_Page' }}"><h2>Domino's Express</h2></a>
      <a class="item" href="{{ pathFor 'Honolulu_Gourmet_Page' }}"><h2>Honolulu Gourmet</h2></a>
      <a class="item" href="{{ pathFor 'India_Cafe_Page' }}"><h2>India Cafe</h2></a>
      <a class="item" href="{{ pathFor 'L_And_L_Page' }}"><h2>L&L Hawaiian BBQ</h2></a>
      <a class="item" href="{{ pathFor 'Panda_Express_Page' }}"><h2>Panda Express</h2></a>
      <a class="item" href="{{ pathFor 'Super_Gyros_Page' }}"><h2>Super Gyros</h2></a>
      <a class="item" href="{{ pathFor 'Curb_Page' }}"><h2>The Curb</h2></a>
    </div>
  </div>

</template>