<template name="Upper_Campus_Nav">
  <div class="ui simple dropdown item">
    <div class="text">Upper Campus</div>
    <i class="dropdown icon"></i>
    <div class="menu">
      <a class="item" href="{{ pathFor 'Kamitoku_Ramen_Page' }}"><h2>Kamitoku Ramen</h2></a>
      <a class="item" href="{{ pathFor 'Uahi_Island_Page' }}"><h2>Uahi Island Grill</h2></a>
      <a class="item" href="{{ pathFor 'Bean_Counter_Page' }}"><h2>The Bean Counter</h2></a>
      <a class="item" href="{{ pathFor 'Da_Spot_Page' }}"><h2>Da Spot</h2></a>
      <a class="item" href="{{ pathFor 'Ba_Le_Page' }}"><h2>Ba Le</h2></a>
      <a class="item" href="{{ pathFor 'Serg_Mexican_Page' }}"><h2>Serg's Mexican Kitchen</h2></a>
      <a class="item" href="{{ pathFor 'Green_Garden_Page' }}"><h2>Green Garden</h2></a>
    </div>
  </div>

</template>