<template name="Restaurant">
  {{!
  Parameters (order in which they are arrraged do not matter):
  name: The name of your restaurant
  image: The path to your restaurant's thumbnail
  info: A short description of what your restaurant is/what they do.
  menu: A array of objects that contain all the food available for order. For this field, a getter function will
  need to be made in your page's corrsponding .js file. That getter function will have to return a object array that
  will then be used by this template.
        Format for each of the objects is as follows (order don't matter):
              name: The food's name
              icon: The path to a small picture or symbol of the food
              info (optional): A short description of the food, or available options. This is where you would tell
              the readers about what favors, sizes, etc. they can choose from
              price: The price of your food

  Examples:
  { {> Restaurant name="Soubway" image="images/logo.png" info="The best sandwiches ever as long as you don't get meatball with everything on it." menu=getMenuItems} }
  And in its .js file:
  getMenuItems() {
    return [
                {
                  name: 'Teri Chick',
                  icon: 'images/chicken.png',
                  price: '$4.00',
                },
                {
                  name: 'BMT',
                  icon: 'images/bmt.png',
                  price: '$4.00',
                },
                {
                  name: 'Meatball',
                  icon: 'images/meatball.png',
                  price: '$4.00',
                },
            ];
  }
  }}
   <!--<script type="text/javascript" src="jquery-1.8.3.js"></script>
<style>


  a {

    text-decoration: none;
    color: #000;
    font-size: 12px;
    line-height: 40px;
  }



</style>


<div class="wrap-flex">
  <div class="left">
    <div class="menu">

      <nav>
        <ul>
          <li>{{#if entre}}<a href="#entre">Entre</a>{{else}}
            {{/if}}</li>
          <li>{{#if drinks}}<a href="#drinks">Drinks</a>{{else}}
            {{/if}}</li>
          <li>{{#if deserts}}<a href="#deserts">Deserts</a>{{else}}
            {{/if}}</li>
          <li><a href="#info">Contact and Information</a></li>
        </ul>
      </nav><a class="menu-button" href="#">Add Items to your profile</a>
    </div>
    <div style="background-color: black; opacity:0.9" class="text">
      <h1>{{name}}</h1>
      {{#if entre}}
      <p id="entre" >Entre</p>
      <p>{{#each item in entre}}
       <div class="ui list">
          <div class="content">
            <div class="header">{{item.name}} {{item.price}}</div>
          </div>
        </div>
      {{/each}}</p>
      {{else}}
      {{/if}}
      {{#if drinks}}
      <p id="drinks">Drinks</p>

      <p>{{#each item in drinks}}

        <div class="ui list">
          <div class="content">
            <div class="header">{{item.name}} {{item.price}}</div>
          </div>
        </div>
      {{/each}}
      </p>
      {{else}}
      {{/if}}
      {{#if deserts}}
      <p id="deserts">Deserts</p>
      <p>{{#each item in deserts}}

        <div class="ui list">
          <div class="content">
            <div class="header">{{item.name}}, {{item.price}}</div>
          </div>
        </div>
      {{/each}}</p>
      {{else}}
      {{/if}}
      <p id="info">Contact and Information</p>

      <p>{{contact_info}} </p>{{hours}}<br>
      <div > {{#if hours}}{{else}}{{/if}}</div>{{location}}<br>
      <div > {{#if location}}{{else}}{{/if}}</div>
      <script type="text/javascript">
  $('.menu-button').click(function() {
    $('nav').toggleClass('active');
  });
</script>
    </div>
  </div>
  <div  style=" height:500px; width:800px; top:800px">
    <img src="{{image}}"></div>
</div> -->
  <div class="ui center aligned container">

    <h1 class="ui header">Your Order</h1>

    <p class="text">{{info}}</p>

    <hr class="ui fitted divider">

    <div class="ui cards">

      {{#each item in menu}}
        <div class="card">
          <div class="content">
            <img id="icon" class="ui left floated mini image" src="{{item.icon}}">
            <div id="name" class="header">{{item.name}}</div>
            <div id="price" class="meta">{{item.price}}</div>
            <div id="info" class="description">{{#if item.info}} {{item.info}} {{else}}{{/if}}</div>
          </div>
          <div class="extra content">
            <div class="ui fluid green button favorite">Favorite</div>
          </div>
        </div>
      {{/each}}
      <div class="ui fluid green button">View your all your items</div>
    </div>
  </div>
</template>