<template name="Restaurant">
  <div class="ui center aligned container">
    <img class="ui small left floated image" src="images/meteor-logo.png">

    <h1 class="ui header">Da Spot</h1>

    <p class="text">Da Spot Health Foods & Juices offers diverse, healthy and affordable cuisine with a unique take on
      tasty dishes
      from around the world.</p>

    <hr class="ui fitted divider">

    <div class="ui cards">
      <div class="card">
        <div class="content">
          <img class="ui left floated mini image" src="images/meteor-logo.png">
          <div class="header">Eggplant Parmesan</div>
          <div class="description"></div>
          <div class="meta">$4.00</div>
        </div>
        <div class="extra content">
          <div class="ui fluid green button">Order</div>
        </div>
      </div>

      <div class="card">
        <div class="content">
          <img class="ui left floated mini image" src="images/meteor-logo.png">
          <div class="header">Thai Red Vegetable Curry</div>
          <div class="description"></div>
          <div class="meta">$4.00</div>
        </div>
        <div class="extra content">
          <div class="ui fluid green button">Order</div>
        </div>
      </div>

      <div class="card">
        <div class="content">
          <img class="ui left floated mini image" src="images/meteor-logo.png">
          <div class="header">Vege Parmesan</div>
          <div class="description"></div>
          <div class="meta">$4.00</div>
        </div>
        <div class="extra content">
          <div class="ui fluid green button">Order</div>
        </div>
      </div>
    </div>
  </div>
</template>