
p, h1, h2 {
  margin: 0px;
  padding: 0px;
  font-family: 'Rubik Mono One',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}
#image-container {
    background: url(images/logo.gif) left top no-repeat;
    box-shadow: 25px 25px 50px 0 white inset, -25px -25px 50px 0 white inset; 
    width: 300px;
    height: 300px;
}

.footer-background {
  background-color: #000;
  padding-top:20px;
  color:white;
}
.footer1-background {
  background-color: black;
  padding-top:20px;
  color:white;
}


.ui.inverted.menu{
  background-color:	white;

}

#login-buttons a, .accounts-dialog a {
  color:white;
}
/* css declaration for menu*/
*, *:before, *:after {
  -moz-box-sizing:
          border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  margin:0;
  padding:0}

a{text-decoration:none;color:#3B3D3E}

#header{
  background:transparent;
  width:100%;
  position:relative}

#header:after{
  position: fixed;
  top:400px;
  left:30px;
  font-family:  'Rubik Mono One', sans-serif;
  font-size:45px;
  color:rgb(99, 153, 117  );
  content:"Welcome Fancy Face!!";
  clear:both;display:block}

.search{
  border: none;float:right;padding:30px;}
input{
  border:none;
  padding:10px;
  border-radius:20px;
  
}
.logo{
  float:left;
  padding:26px 0 26px}
.logo a{
  font-size:28px;
  display:block;
  padding:0 0 0 20px}
nav{
  background-color:transparent;
  position: inherit;
  top:0px;
  left:300px;

}
nav>ul{
  float:left;
  position:relative}
nav li{
  list-style:none;
  float:left}
nav .dropdown{
  position:relative
}
nav li a{
  float:left;
  padding:20px
}
nav li a:hover{
  text-decoration:underline;
  cursor:pointer;
}
nav li ul{
  display:none
}
nav li:hover ul{
  display:inline
}
nav li li{
  float:none
}
nav .dropdown ul{
  position:absolute;
  left:0;
  top:100%;
  background:#fff;
  padding:20px 0;
  border-bottom:3px solid #34495e
}
nav .dropdown li{white-space:nowrap}
nav .dropdown li a{padding:10px 35px;font-size:13px;min-width:200px}
nav .mega-dropdown{width:100%;position:absolute;top:100%;left:0;background:#fff;overflow:hidden;padding:20px 35px;border-bottom:3px solid #34495e}
nav li li a{float:none;color:#333;display:block;padding:8px 10px;border-radius:3px;font-size:13px}
nav li li a:hover{text-decoration:underline;}
.mega-col{width:25%;float:left}
#menu-icon{position:absolute;right:0;top:50%;margin-top:-12px;margin-right:30px;display:none}
#menu-icon span{border:2px solid #fff;width:30px;margin-bottom:5px;display:block;-webkit-transition:all .2s;transition:all .1s}
@media only screen and (max-width: 1170px) {
  nav >ul>li >a{padding:35px 15px}
}
@media only screen and (min-width: 960px) {
  nav{display:block!important}
}
@media only screen and (max-width: 959px) {
  nav{display:none;width:100%;clear:both;float:none;max-height:400px;overflow-y:scroll}
  #menu-icon{display:inline;top:45px;cursor:pointer}
  #menu-icon.active .first{transform:rotate(45deg);-webkit-transform:rotate(45deg);margin-top:10px}
  #menu-icon.active .second{transform:rotate(135deg);-webkit-transform:rotate(135deg);position:relative;top:-9px;}
  #menu-icon.active .third{display:none}
  .search{float:none}
  .search input{width:100%}
  nav{padding:10px}
  nav ul{float:none}
  nav li{float:none}
  nav ul li a{float:none;padding:8px;display:block}
  #header nav ul ul{display:block;position:static;background:none;border:none;padding:0}
  #header nav a{color:#fff;padding:8px}
  #header nav a:hover{text-decoration:underline;border-radius:3px}
  #header nav ul li li a:before{content:"- "}
  .mega-col{width:100%}
}


/* scss declaration for animation */

@import url(http://fonts.googleapis.com/css?family=Pathway+Gothic+One);


@-webkit-keyframes rotate-right {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate-left {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
  }
}

@-webkit-keyframes hover {
  0% {
    -webkit-transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(5%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}

@-webkit-keyframes pull {
  0% {
    -webkit-transform: scaleY(1);
  }
  40% {
    -webkit-transform: scaleY(1.01);
  }
  60% {
    -webkit-transform: scaleY(0.99);
  }
  80% {
    -webkit-transform: scaleY(1.01);
  }
  100% {
    -webkit-transform: scaleY(0.99);
  }
  80% {
    -webkit-transform: scaleY(1.01);
  }
  100% {
    -webkit-transform: scaleY(1);
  }
}

@function getSpeed($speed, $type:turtle) {
$secs: 360;
$divider: 1;
  @if($type == turtle) {
    $divider: 1;
  } @else if($type == rabbit) {
  $divider: 10;
} @else {
  $divider: 60;
}
  @if $speed == fastest {
    $secs: 60 / $divider;
  } @else if $speed == really-fast {
  $secs: 120 / $divider;
} @else if $speed == fast {
  $secs: 180 / $divider;
} @else if $speed == slow {
  $secs: 240 / $divider;
} @else if $speed == really-slow {
  $secs: 300 / $divider;
} @else if $speed == slowest {
  $secs: 360 / $divider;
}
  @return #{$secs}s;
}

@mixin _rotate-animation($direction, $speed, $type) {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-animation: rotate-#{$direction} getSpeed($speed, $type) linear 0s infinite;
}

@mixin _hover-animation($duration, $delay) {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-animation: hover #{$duration}s linear #{$delay}s infinite;
}

@mixin _pull-animation($duration, $delay, $x: 200px, $y: 200px) {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform-origin: $x $y;
  -webkit-animation: pull #{$duration}s linear #{$delay}s infinite alternate;
}

@mixin rotate($type, $direction: left, $speed: slow, $x: 200px, $y: 200px) {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform-origin: $x $y;
@include _rotate-animation($direction, $speed, $type);
}

#burger, #beer {
@include rotate(turtle, right, fastest);
}

#buildings {
@include rotate(turtle, right, slow);
}

#frame {
@include rotate(turtle, left, normal);
}

#globe {
  $duration: 0;
  $delay: 0;
@include _hover-animation($duration, $delay);
}

#windmill {
@include rotate(flash, right, really-fast, 331px, 201px);
}

// Clouds
@for $i from 1 through 3 {
  #cloud#{$i} {
  @include _hover-animation(3, $i);
  }
}


// Inner Circles
@for $i from 1 through 5 {
$direction: left;
$speed: really-fast;
  #circle#{$i} {
  @if $i % 2 == 1 {
    $direction: right;
    $speed: really-fast;
  } @else {
  $direction: left;
  $speed: slow;
}
  @include rotate(rabbit, $direction, $speed);
}
}

/*-----------------profile declaration---------------*/

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
a,
a:hover,
a:active,
a:visited,
a:focus {
  text-decoration: none;
}
/***End REset CSS*/



.wrap {
  max-width: 625px;
  min-height: 450px;
  max-height: 450px;
  margin: 100px auto;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
  background: url('https://2.bp.blogspot.com/-QmmNQfxkJuY/VaOWtdGCmKI/AAAAAAAAGAo/NM6IBuYRTHM/s1600/background2.jpg') top/cover no-repeat;
}

.right-menu {
  top: 0;
  right: 0;
  z-index: 1;
  height: 100%;
  background: #fff;
  max-width: 120px;
  position: absolute;
  border-radius: 0px 3px 3px 0px;
}

.right-menu a,
.footer a {
  display: block;
  text-align: center;
  padding: 47px 28px;
  line-height: 30px;
  color: #B7B7B7;
}

.right-menu a span,
.footer a span {
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}

a.active,
.right-menu a:hover {
  color: #222;
  position: relative;
}

a.active:after {
  content: '';
  height: 0;
  width: 0;
  border: 11px solid transparent;
  position: absolute;
  left: -21px;
  top: 50%;
  border-right: 11px solid #fff;
}

.right-menu a {
  border-bottom: 1px solid #B7B7B7;
}

.right-menu a i {
  font-size: 30px;
}

.avatar {
  margin-right: 100px;
  text-align: center;
  display: block;
  padding-top: 56px;
}

.avatar img {
  height: 150px;
  padding: 5px;
  background: #fff;
  border-radius: 50%;
}

.bubble {
  background: #fff;
  display: block;
  width: 42%;
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  border-radius: 5px;
  line-height: normal;
  margin-top: 25px;
  position: relative;
}

.bubble:after {
  content: '';
  top: -70px;
  left: 45%;
  right: 0;
  width: 0;
  height: 70px;
  position: absolute;
  border: 7px solid transparent;
  border-bottom: 7px solid #fff;
}

.bubble h3 {
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  text-transform: uppercase;
}

.bubble a {
  color: #888;
  font-size: 12px;
  font-style: italic;
}

.footer {
  bottom: 0;
  width: 100%;
  min-height: 100px;
  position: absolute;
  border-top: 1px solid #9E9AAB;
}

.footer a:hover {
  background: rgba(0, 0, 0, 0.2);
  margin: 0;
}

.footer a {
  display: block;
  color: #fff;
  padding: 25px 35px;
  border-right: 1px solid #9E9AAB;
  background-color: rgba(0, 0, 0, 0.5);
  margin-right: 0px;
  float: left;
}

.footer a:last-child {
  border-right: none;
}

.footer a i {
  font-size: 24px;
}

.profile,
.project,
.skills {
  display: none;
}

.profile.open,
.project.open,
.skills.open {
  display: block;
}

/*jamba juice*/


.wrap-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.left {
  width: 50%;
}
.left .menu {
background-color:green;
opacity:0.7;
  text-align: center;
}
.left .menu nav {
  margin-top: -165px;
  background: #000;
  padding: 20px 0;
  -webkit-transition: margin-top 250ms ease-in-out;
  transition: margin-top 250ms ease-in-out;
}
.left .menu nav a {
  color: rgba(255, 255, 255, 0.8);
  line-height: 25px;
}
.left .menu nav a:hover {
  color: #fff;
}
.left .text {
  padding: 30px;
}
.left .text h1 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}
.left .text h2, .left .text p {
  color: #999;
  font-size: 14px;
}
.left .text p {
  margin-top: 20px;
}


.active {
  margin-top: 0 !important;
}

@media (min-width: 1200px) {
  .left {
    width: 40%;
  }

  .right {
    width: 60%;
  }
}
